* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-image: url(https://wallpaperaccess.com/full/682419.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .clock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 35px;
}

.date {
  display: flex;
  gap: 20px;
}

.date span {
  color: #fff;
  font-size: 3rem;
  box-shadow: 0px 15px 25px rgba(7, 2, 2, 0.05);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(37, 34, 34, 0.1);
  background: rgba(255, 255, 255, 0.05);
  padding: 15px 15px;
  border-radius: 10px;
}

.watch {
  display: flex;
  gap: 10px;
}

.watch h3 {
  font-size: 6rem;
  color: #fff;
  font-weight: 700;
}

.watch h3:nth-child(odd) {
  padding: 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.05);
  margin: 0px 10px;
  border-radius: 10px;
  backdrop-filter: blur(20px);
}
